@model IEnumerable<MVCEventCalendar.Contact>
@{
    Layout = null;
}
@{
    ViewBag.Title = "IndexPr";
    var grid = new WebGrid(source: Model, canPage: true, rowsPerPage: 10);
}

<h2>Contact List</h2>
@Html.ActionLink("Add New Contact", "Save", "Contacts", null, new { @style = "font-size:20px" })
@grid.GetHtml(
tableStyle:"table table-responsive",
columns:grid.Columns
    (
        //grid.Column(columnName:"ContactPerson", header:"Contact Person"),
        //grid.Column(columnName:"ContactNo", header:"Contact No"),
        //grid.Column(columnName:"Predmet", header:"Country"),
        //grid.Column(columnName:"Prepodavatel", header:"State"),
        grid.Column(header:"Edit", format:@<text>@Html.ActionLink("Edit", "Save", "Contacts", new { id = item.ContactId }, null)</text>),
                        grid.Column(header: "Delete", format:@<text><a href="#">Delete</a></text>)
                                    )
                                )



